extends ../base/site-full-screen

block append css
    style.
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

block append head
    script(type='text/javascript' src='/static/service/js/net-graph-shower.js')


block append content_without_container
    div#div_net_graph(style="width: 80%; height: 100%; margin-left: 10%")
        div#title(style="height: 50px")
            h4 Network Graph
            hr(align='left' width='20%')
        div#net_graph(style="width: 80%; height: 100%; position: fixed; bottom: 0")

block append script
    span#para(style="display: none") #{JSON.stringify(para)}
    script.
        var para = JSON.parse($('#para').text());