html.
    <style>
        .float_bar {
            font-size: 12px;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 3;
        }
    </style>

    <div style="margin-top: 80px"></div>
    <div id="footer" class="float_bar" style="background-color: white; font-family: Times, serif; font-size: 14px; color: #4c4c4c;">
        <hr width="98%" size="2px" style="margin: 0">
        <p style="margin: 8px">Copyright &copy; 1998 - 2015 Tencent. All Rights Reserved.</p>
        <p style="margin: 8px">腾讯 社交网络质量部 版权所有 @kangtian</p>
    </div>