div
    nav.white(role= 'navigation')
        div.nav-wrapper(style="margin-left: 15px;")
            a#logo-container.brand-logo.show-on-huge-only(href= '/monkey/taskList/' style="padding: 0")
                img(src='/static/public-img/logo/monkey-logo-wide.png' style="max-height: 40px")
            div#div_nav.container.wide-container(style="padding-left: 0")
                ul(style="margin-left: -7.5px")
                    li
                        a(href='/monkey/taskList/' style="color: black; text-align: left; padding: 0")
                            span(style="font-weight: 800")
                                i.material-icons.left(style="margin-right: 5px") toc
                                | 任务列表

                    li(style='margin-left: 20px;')
                        a.dropdown-button(href='#!', data-activates="dropdown_status_upload", style="color: black; text-align: left; padding: 0")
                            span(style="font-weight: 800")
                                i.material-icons.left(style="margin-right: 5px") swap_vert
                                | 状态上报
                    li(style='margin-left: 20px; min-width: 100px; left: 0')
                        a.dropdown-button(href='#!', data-activates="dropdown_config", style="color: black; text-align: left; padding: 0")
                            span(style="font-weight: 800")
                                i.material-icons.left(style="margin-right: 5px") settings
                                | 配置

            ul.dropdown-content#dropdown_config(style='min-width: 200px; margin-top: 65px')
                li
                    a(href='/monkey/productList/')
                        i.material-icons.left(style="margin-right: 5px") view_list
                        | 产品列表
                li
                    a(href='/monkey/addProduct/')
                        i.material-icons.left(style="margin-right: 5px") playlist_add
                        | 添加产品
                li
                    a(href='/monkey/taskConfigList/')
                        i.material-icons.left(style="margin-right: 5px") list
                        | 任务配置列表
                li
                    a(href='/monkey/addTaskConfig/')
                        i.material-icons.left(style="margin-right: 5px") library_add
                        | 添加任务配置

            ul.dropdown-content#dropdown_status_upload(style='min-width: 200px; margin-top: 65px')
                li
                    a(href='/monkey/eventHistory/')
                        i.material-icons.left(style="margin-right: 5px") speaker_phone
                        | 事件上报
                li
                    a(href='/monkey/statusMap/')
                        i.material-icons.left(style="margin-right: 5px") call_split
                        | 状态转移
