doctype html
html
    block head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include ./site-include
    block css
    body
        block nav
            include ./site-nav
        .container
            block content
        block content_without_container
        block footer
            include ./site-footer
        block script