script(src='/static/third-party/jquery/jquery-2.2.2.min.js')

script(src='/static/third-party/bootstrap/bootstrap-dist/js/bootstrap.min.js')
link(rel='stylesheet', href='/static/third-party/bootstrap/bootstrap-dist/css/bootstrap.min.css')

script(src='/static/third-party/bootstrap/bootstrap-table-dist/bootstrap-table.min.js')
link(rel='stylesheet', href='/static/third-party/bootstrap/bootstrap-table-dist/bootstrap-table.min.css')

link(rel='stylesheet', href='/static/third-party/select2/dist/css/select2.min.css')
link(rel='stylesheet', href='/static/third-party/select2/dist/css/select2-bootstrap.min.css')
script(src='/static/third-party/select2/dist/js/select2.min.js')

script(src='/static/public-js/tiny_util.js')
link(rel='stylesheet', href='/static/public-css/style.css')

