extends ../base/site-layout

block append head
    script(src='/static/monkey/js/login.js')

block content
    h1= title

    #errMsg
        if errMsg
            pre= errMsg

    form.form-horizontal(action='/users/login', method='POST')
        .form-group
            label.col-sm-2.control-label 用户名
            .col-sm-10: input(type='input', id='username')
        .form-group
            label.col-sm-2.control-label 密码
            .col-sm-10: input(type='password', id='password')
        .col-sm-offset-2.col-sm-10
            a.btn.btn-default(onclick='post_message()') 登录
            a.btn.btn-default(style="margin-left: 30px" href="/users/register") 注册
